.total-container {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  display: flex;
  margin-top: 50px;
  background-color: rgb(255, 255, 255);
  width: 130vh;
  border-radius: 20px;
  height: 80vh;
}

.moon {
  position: relative;
  left: 0;
  width: 40%;
  height: 100%;
  border-radius: 10px;
  border-width: 2px;
  border-color: rgb(255, 1, 1);
  margin: 0;
}
.alerts {
  color: red;
}

.info-container {
  margin: 30px;
  display: flex;
  flex-direction: column;
}

header {
  display: flex;
  column-gap: 90px;
  padding: 10px;
}
header div {
  font-size: 12px;
  display: flex;
  column-gap: 10px;
  /* margin-bottom: 30px; */
}

.first-header {
  display: flex;
  flex-direction: column;
  margin-bottom: 0;
}

.stage {
  font-size: 12px;
  background-color: blue;
  padding: 3px;
  border-radius: 3px;
  color: white;
}

section {
  padding: 5px;
  margin-bottom: 30px;
}
h3 {
  font-size: 20px;
  color: blue;
}
.step {
  font-size: 10px;
}

form {
  display: flex;
  flex-direction: column;
  row-gap: 30px;
  padding: 10px;
}

.first-last {
  font-size: 13px;
  display: flex;
  justify-content: space-between;
}

.birth-mail {
  font-size: 13px;
  display: flex;
  justify-content: space-between;
}

.address {
  font-size: 13px;
}

.text-area {
  width: 400px;
  height: 30px;
}

.first-Button {
  display: flex;
  justify-content: end;
}

.next {
  cursor: pointer;
  background-color: blue;
  color: white;
  border-color: white;
  padding: 10px;
  border-radius: 5px;
}
