.second-total-container {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  display: flex;
  margin-top: 50px;
  background-color: rgb(255, 255, 255);
  width: 130vh;
  border-radius: 20px;
  height: 80vh;
  font-size: 13px;
}

.red {
  position: relative;
  left: 0;
  width: 40%;
  height: 100%;
  border-radius: 10px;
  border-width: 2px;
  border-color: rgb(255, 1, 1);
  margin: 0;
}

.section {
  display: flex;
  flex-direction: column;
  margin-bottom: 0;
}

input {
  border-radius: 5px;
  border-color: gray;
  margin: 5px;
}

textarea {
  border-radius: 5px;
  border-color: gray;
  margin: 5px;
}
.second-info-container {
  margin: 30px;
  display: flex;
  flex-direction: column;
}

header {
  display: flex;
  column-gap: 90px;
  padding: 10px;
}

.second-stage {
  font-size: 12px;
  background-color: blue;
  padding: 3px;
  border-radius: 3px;
  color: white;
}

.second-first-Button {
  display: flex;
  justify-content: flex-end;
  column-gap: 30px;
}

.second-back {
  cursor: pointer;
  width: 80px;
  padding: 5px;
  background-color: white;
  border-color: gray;
  border-radius: 5px;
}

.second-next {
  width: 80px;
  padding: 5px;
  background-color: rgb(249, 167, 167);
  border-color: red;
  border-radius: 5px;
  cursor: pointer;
}
