.submission-div {
  font-size: 20px;
  background-color: rgb(255, 255, 255);
  width: auto;
  height: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  row-gap: 30px;
  position: absolute;
  bottom: 30%;
  padding: 20px;
}

.done-button {
  width: 80px;
  padding: 5px;
  background-image: linear-gradient(
    to right,
    rgb(190, 253, 190),
    rgb(115, 255, 115)
  );
  border-color: red;
  border-radius: 5px;
  cursor: pointer;
}
