.third-total-container {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  display: flex;
  margin-top: 50px;
  background-color: rgb(255, 255, 255);
  width: 130vh;
  border-radius: 20px;
  height: 80vh;
  font-size: 13px;
}

.boat {
  /* position: relative;
  left: 0; */
  width: 40%;
  height: 100%;
  border-radius: 10px;
  border-width: 2px;
  border-color: rgb(255, 1, 1);
  margin: 0;
}

.third-stage {
  font-size: 12px;
  background-color: blue;
  padding: 3px;
  border-radius: 3px;
  color: white;
}

.third-info-container {
  margin: 30px;
  display: flex;
  flex-direction: column;
}

.image-check-box {
  display: flex;
}

.bean-image {
  width: 200px;
  height: 120px;
}

.queen-image {
  width: 200px;
  height: 120px;
}

.image-check-box {
  display: flex;
  column-gap: 20px;
}

.bean-image {
  border: 2px solid gray;
  cursor: pointer;
}
.bean-image-selected {
  width: 200px;
  height: 120px;
  border: 2px solid blue;
  cursor: pointer;
}
.queen-image {
  border: 2px solid gray;
  cursor: pointer;
}
.queen-image-selected {
  border: 2px solid blue;
  cursor: pointer;
}

.check-div {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}

.button-div {
  display: flex;
  margin-top: 30px;
  justify-content: flex-end;
  column-gap: 20px;
}

.third-back {
  cursor: pointer;
  width: 80px;
  padding: 5px;
  border-radius: 5px;
  border-color: gray;
}

.third-next {
  cursor: pointer;
  width: 80px;
  border-radius: 5px;
  background-image: linear-gradient(
    to top,
    rgb(255, 208, 120),
    rgb(134, 134, 255)
  );
  color: rgb(43, 43, 43);
  border-color: white;
  font-size: 15px;
}
